@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0px 0px;
  margin: 0px;
  background-color: #3b3b3b;
}

body > nav {
  display: flex;
  flex-direction: column;
  padding: 3px;
  background-color: #282828;
  width: 100%;
  max-width: 300px;
  overflow: overlay;
}

body > nav > div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  margin-bottom: 3px;
  padding: 5px 10px;
  background-color: #3b3b3b;
}

body > nav > div > * {
  display: flex;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  margin: auto 0px;
  color: #c9c9c9;
}

body > nav > div > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 200;
  padding-left: 10px;
  width: 100%;
}

body > nav > div > button:hover {
  color: #ffffff;
}

body > nav > div > span {
  font-size: 10px;
  background-color: #00ff0030;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}